body {
    background-color: white;
}

.navbar {
    background-color: #94FCFE;
}

.navbar > .navbar-brand {
    color: black;
}

.page-container {
    margin-top: 75px;
}


.label {
    font-weight: bold;
}

.btn {
    background-color: #ddd;
}

